* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding-bottom: 50px;
}

ul {
	list-style: disc;
	padding: 0 0 0 20px;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu li {
	display: inline-block;
	padding: 0 12px;
	border-right: solid 1px #ccc;
	line-height: 21px;
}

#menu li:first-of-type {
	padding-left: 0;
}

#menu li:last-of-type {
	border-right: none;
	padding-right: 0;
}

#menu a {
	padding: 2px 5px;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#menu a.selected {
	text-decoration: underline;
}

#content li {
	line-height: 23px;
}

ul.tree-list,
.tree-list ul {
	list-style-type: none;
	background: url(img/vline.svg) repeat-y;
	margin: 0;
	padding: 0;
}

ul.tree-list ul {
	margin-left: 10px;
}

ul.tree-list li {
	margin: 0 0 3px;
	padding: 0 12px;
	line-height: 20px;
	background: url(img/node.svg) no-repeat;
	background-position: top left -1px;
}


ul.tree-list li:last-child {
	background: #fff url(img/lastnode.svg) no-repeat;
	background-position: left top -17px;
}

ul.tree-list li.tree-time-diff {
	background: url(img/vline.png) repeat-y;
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 110%;
	font-style: italic;
}

ul.tree-list li.tree-with-children {
	background-position: -1px 7px;
}

ul.tree-list li.tree-with-children:last-child {
	background-position: left top -10px;
}

.tree-hidden {
	display: none;
}

.tree-plus-sign {
	cursor: pointer;
	display: inline-block;
	margin: 0 4px 0 0;
	width: 18px;
	height: 24px;
	background: url(img/egg-plus.svg);
	background-size: 18px 24px;
	position: relative;
	top: 3px;
}

.tree-plus-sign.tree-plus-sign--expanded {
	background-image: url(img/egg-minus.svg);
}

.highlight-slot-link {
	display: inline-block;
	margin-left: 5px;
	font-size: 80%;
	color: dodgerblue;
}

.highlight-slot-link:hover,
.highlight-slot-link:active {
	text-decoration: underline;
	cursor: pointer;
}

.recommendation-list {
	list-style: none;
	padding-left: 0;
	margin-left: 2px;
}

.recommendation-list li {
	min-height: 32px;
	padding-left: 32px;
}

.recommendation-list ul {
	list-style: disc;
}

.recommendation-list ul li {
	padding-left: 0;
	line-height: 16px;
	min-height: auto;
	margin-bottom: 5px;
}

.error-list {
	background: url(img/egg-error.svg) no-repeat top left;
	background-size: 23px 31px;
}

.warning-list {
	background: url(img/egg-warning.svg) no-repeat top left;
	background-size: 23px 31px;
}

.recommendation-title {
	margin: 0;
	padding-top: 1px;
}

.recommendation-title + p {
	margin-top: 4px;
}

.recommendation-section-title {
	text-transform: uppercase;
}

h2 + p {
	margin-top: 6px;
}

.info-label {
	font-weight: 700;
}