.dfpeep-ad {
	position: relative;
}

.dfpeep-ad::before {
	display: block;
	content: '';
	position: absolute;
	z-index: 5000;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba( 6, 69, 196, 0.9 );
	border: solid 2px #000;
	transition: opacity 0.5s ease-in-out;
	transition-delay: 0.25s;
	top: 0;
	left: 0;
}

.dfpeep-ad.dfpeep-ad--show::before,
.dfpeep-ad.dfpeep-ad--show::after {
	opacity: 1;
}

.dfpeep-ad::after {
	opacity: 0;
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 5001;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('chrome-extension://__MSG_@@extension_id__/img/dfpeep-chicken.svg') no-repeat;
	background-position: center 50px;
	background-size: 91px 150px;
	transition: opacity 0.5s ease-in-out;
	transition-delay: 0.25s;
}